/* WidePage */
.WP_imgSize{
    width: 100%;
    height: 25vh;
    background-color: darkgrey;
}


.WP_sectionimgs{
    display: inline-block;
    padding: 0;
    background-color: cornsilk;
    margin-left: 1vh;
    height: 35vh;
    width: 22vh;

}
.WP_contentText{
    width: 25vh;
    padding: 1vh;
}


/* HotTrack ------------------------*/
.HT_imgSize{
    width: 10vw;
    height: 20vh;
    border-radius: 15px;
}

.HT_sectionimgs{
    display: inline-block;
    padding: 0;
    margin-left: 0.8vw;
    height: 38vh;
    width: 10vw;

} 
.HT_contentText{
    width: 10vw;
    height: 22vh;
    padding: 1vh;

}
.HT_contentName{
    font-weight: 900;
    text-align: center;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.HT_contentDes{
    margin : 0 4px 0 4px;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: normal;
    font-family: NotoSansKR;
    letter-spacing: normal;
    text-align: left;
}

/* 좌측 버튼 */
.HTclickBtn_L{
    position: absolute;
    z-index: 1;
    width: 5.3vw;
    height: 43vh;
    border: none;
    top: 25vh;
    left: 1.5vw;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(150, 150, 150, 0);

}

.HTclickBtn_L:hover{
    transition:  0.3s ease-in-out;
    background-color:#ffffff;
    opacity: 0.5;
    background-size: 5vh;
}

/* 우측버튼 */
.HTclickBtn_R{
    position: absolute;
    z-index: 1;
    width: 5.3vw;
    top: 25vh;
    height: 43vh; 
    left: 61vw;
    bottom: 9vh;
    border: 0;
    background-color: rgba(150, 150, 150, 0);

}

.HTclickBtn_R:hover{
    transition:  0.3s ease-in-out;
    background-color:#ffffff;
    opacity: 0.5;
    background-size: 5vh;
}
.Modal.Header{
    width: 15vw;
}

.modal-content{
    width: 25vw;
    height: 40vh;
    border-radius: 30px;
}
.modal_logo{
    width: 7vw;
    height: 3vh;
    margin-bottom: 1vh;
}
.modal_down{
    width: 8vw;
    height: 5vh;
    margin-left: 13vw;
}



/* Review image --------------------------*/
.inSide_slide{
	position: relative;
	width: 16vw;
	height: 40vh;
	border-radius: 16px;
    margin: 0 0.71vw 0 0;
    margin-top: 6vh;
    background-color: white;
    box-shadow: 0 3px 6px 0
    rgba(0, 0, 0, 0.16);
}
.slide_img{
	background-color:  rgba( 255, 255, 255, 0);
	width: 15vw;
	height: 15vh;
	margin-top:1vh;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
    text-align: center;
    border: none;
}

.imgSize{
	width: 10vw;
    height: 16vh;
    margin-left :auto;
    margin-right :auto;
    text-align:center;
    border-radius: 20px;
    border: none;
}

.IMG {
    width: 100%;
    height: 70vh;
}
.RV_iconArea{
    margin-top:1vh;
	width: 8vw;
	height: 2vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-size: 2vw;

}
.RV_contentName{
    left: 0;
    right: 0;
    font-weight: 900;
    padding: 0.2vw;
    /* background-color: gray; */

}
.RV_contentDes{
    height: 11vh;
    left: 0;
    right: 0;
    bottom: 2vh;
    font-size: 13px;
    font-weight: 300;
    margin-top: 0.5vh;
    /* background-color: red; */
}

/* 전체 슬라이더 영역 */
.SliderContainer {
    width: 51vw;
    display: flex; 

  }

  /* 버튼클릭  css */
  .btnArea{
    position: relative;
    width: 65vw;
    bottom: 50vh;
    bottom: 23vh;

  }

  .clickButton{
      /* all: unset; */
    border: 1px solid coral;
    padding: 0.5em 2em;
    color: coral;
    border-radius: 10px;

  }
  .clickButton :hover{
        transition: all 0.3s ease-in-out;
        background-color: coral;
        color: #fff;
    }
  
/* 좌측 버튼 */
.clickBtn_L{
    position: absolute;
    z-index: 1;
    width: 5.3vw;
    top: 9vh;
    height: 40vh; 
    left: 18vw;
    bottom: 9vh;
    border: 0;
    background-color: rgba(150, 150, 150, 0);

}

.clickBtn_L:hover{
    transition:  0.3s ease-in-out;
    background-color:#ffffff;
    opacity: 0.5;
    background-size: 5vh;
}

/* 우측버튼 */
.clickBtn_R{
    position: absolute;
    z-index: 1;
    width: 5.3vw;
    top: 9vh;
    height: 40vh; 
    left: 80vw;
    bottom: 9vh;
    border: 0;
    background-color: rgba(150, 150, 150, 0);

}

.clickBtn_R:hover{
    transition:  0.3s ease-in-out;
    background-color:#ffffff;
    opacity: 0.5;
    background-size: 5vh;
}


.btnSize{
    width: 2vw;
    height: 7vh;
    border-radius: 40px;
    background-color:fixed;
}
  
 



