


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 360
   1920-1024   - desktop (default grid)
   1024-768    - tablet
   360-less    - phone landscape & smaller
--------------------------------------------*/




/* For desktop: */
@media only screen and (min-width: 1024px) and (max-width: 1920px){
    .clearBoth{
        clear : both;
    }

/* WidePage */
.WP_imgSize{
    width: 100%;
    height: 25vh;
    background-color: darkgrey;
}


.WP_sectionimgs{
    display: inline-block;
    padding: 0;
    background-color: cornsilk;
    margin-left: 1vh;
    height: 35vh;
    width: 22vh;

}
.WP_contentText{
    width: 25vh;
    padding: 1vh;
}


/* HotTrack ------------------------*/
.HT_cardArea{
    width: 255px;
    height:400px;
    /* display: flex; */
}
.HT_imgSize{
    width: 252px;
    height: 252px;
    border-radius: 15px;
}

.HT_sectionimgs{
    display: inline-block;
    padding: 0;
    width: 252px;
    margin: 0 20px 12px 0;
} 
.HT_contentText{
    width: 252px;
    height: 22vh;
    padding: 1vh 0 0 0;

}
.HT_contentName{
    width: 252px;
    /* font-size: 6px; */
    font-weight: bolder;
    text-align: center;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.HT_contentDes{
    margin : 0 4px 0 4px;
    height: 10vh;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
	font-family: Noto Sans KR;	
    letter-spacing: normal;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* 좌측 버튼 */
.HTclickBtn_L{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 43vh;
    border: none;
    background-color: rgba(150, 150, 150, 0);
}

.HTclickBtn_L:hover{
    transition:  0.3s ease-in-out;
    background-color:#ffffff;
    opacity: 0.5;
    background-size: 5vh;
}

/* 우측버튼 */
.HTclickBtn_R{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 43vh; 
    border: 0;
    margin: 0 0 0 60vw; 
    background-color: rgba(150, 150, 150, 0);
}

.HTclickBtn_R:hover{
    transition:  0.3s ease-in-out;
    background-color:#ffffff;
    opacity: 0.5;
    background-size: 5vh;
}
.Modal.Header{
    width: 15vw;
}

.modal-content{
    width: 25vw;
    height: 40vh;
    border-radius: 30px;
}
.modal_logo{
    width: 7vw;
    height: 3vh;
    margin-bottom: 1vh;
}
.modal_down{
    width: 8vw;
    height: 5vh;
    margin-left: 13vw;
}



/* Review image --------------------------*/
.inSide_slide{
	position: relative;
	width: 327px;
	height: 505px;
	border-radius: 16px;
    margin: 0 14px 0 0;
    padding: 44px 37px 33px 34px;
    background-color: white;
    box-shadow: 0 3px 6px 0
    rgba(0, 0, 0, 0.16);
}
.slide_img{
    width: 190px;
    height: 190px;
    margin: 0 0 22px 35px;
    text-align: center;
	background-color:  rgba( 255, 255, 255, 0);
}

.RV_imgSize{
	width: 153px;
    height: 153px;
    text-align:center;
    border-radius: 20px;
}

.IMG {
    width: 100%;
    height: 70vh;
}
.RV_downArea{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 255px;
    height: 255px;
    overflow: hidden;
}
.RV_iconArea{
    position: relative;
    width: 255px;
	height: 25px;
	font-size: 12px;
    text-align: center;
    justify-content: center;
}

.RV_iconArea .material-icons{
    position: relative;
	color: red;
    font-size: 20px;
    height: 18px;
}


.RV_contentName{
    position: relative;
    width: 255px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
	font-family: Noto Sans KR;	

}
.RV_contentDes{
    position: absolute;
    
    height: 11vh;
	font-family: Noto Sans KR;	
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* 전체 슬라이더 영역 */
.SliderContainer {
    position: relative;
    display: flex; 
    /* width: 1050px; */
    width: 56vw;
  }

  /* 버튼클릭  css */
  .btnArea{
    position: relative;
    width: 65vw;
    bottom: 50vh;

  }

  .clickButton{
    border: 1px solid coral;
    padding: 0.5em 2em;
    color: coral;
    border-radius: 10px;

  }
  .clickButton :hover{
        transition: all 0.3s ease-in-out;
        background-color: coral;
        color: #fff;
    }
  
/* 좌측 버튼 */
.clickBtn_L{
    position: relative;
    width: 90px;
    height: 510px;  
    z-index: 1;
    background-color: rgba(150, 150, 150, 0);
    opacity: 0.8;
    border: none;
}

.clickBtn_L:hover{
    transition:  0.3s ease-in-out;
    background-color:#ffffff;
    opacity: 0.5;
    background-size: 5vh;
}

/* 우측버튼 */
.clickBtn_R{
    position: relative;
    width: 90px;
    height: 510px;  
    z-index: 1;
    background-color: rgba(150, 150, 150, 0);
    opacity: 0.8;
    border: none;

}

.clickBtn_R:hover{
    transition:  0.3s ease-in-out;
    background-color:#ffffff;
    opacity: 0.6;
    background-size: 5vh;
}


.btnSize{
    width: 90px;
    height: 30px;
    border-radius: 40px;
}
  
 
}			/* --------  Desktop Finish  ---------- */
