

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 360
   1920-1024   - desktop (default grid)
   1024-768    - tablet
   360-less    - phone landscape & smaller
--------------------------------------------*/

/* For desktop: */
@media only screen and (min-width: 1024px){
    .clearBoth{
        clear : both;
	}
	
	
/* 상단메뉴바 */
.nav_menubar{
	position: fixed;
	float: right;
	height: 10vh;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
    list-style: none; 
	padding-left: 0;
	background-color: #ffffff;
	background-color:  rgba( 255, 255, 255, 0);

}



.nav_menubar .nav_menu {
	display: flex;
	margin: auto;
	width: 100%;
	height: 8vh;
	list-style: none;
	padding: 8px 15px;
	font-family: NotoSansKR;
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: normal;
	text-align: left;

}


.nav_menu .one{
	display: inline-flex;
	width: 8vw;
	height: 5vh;
	margin: 1vh 0 0 71vw;
	font-size: 19px;

	line-height: 1.16;
	font-weight: normal;
	font-stretch: normal;
	font-family: NotoSansKR;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
	
}

/* .nav_menubar .one:hover{
	background-color: #c9c4c0;
	border-radius: 10px;
	transition: ease-out 0.3s;

} */
.nav_menu .two{
	display: inline-flex;
	left: 37vw;
	width: 7vw;
	height: 5vh;

	margin: 1vh 0 0 2px;
	font-size: 19px;

	line-height: 1.16;
	font-weight: normal;
	font-stretch: normal;
	font-family: NotoSansKR;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
}


a{
	text-decoration: none;
	color: black
	
}

.logoArea{
	width: 15vw;
	display: inline-block;
}



.logo{
    position: relative;
    width: 52px;
    height: 52px;
    left: 5vw;
}


.logo .img{
	width: 50%;
	height: 50%;
}
}			/* --------  Desktop Finish  ---------- */


/* For tablet: */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .clearBoth{
        clear : both;
	}
		
/* 상단메뉴바 */
.nav_menubar{
	position: fixed;
	float: right;
	height: 10vh;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
    list-style: none; 
	padding-left: 0;
	background-color: #ffffff;
	background-color:  rgba( 255, 255, 255, 0);

}



.nav_menubar .nav_menu {
	display: flex;
	margin: auto;
	width: 100%;
	height: 8vh;
	list-style: none;
	padding: 8px 15px;
	font-family: NotoSansKR;
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: normal;
	text-align: left;

}


.nav_menu .one{
	display: inline-flex;
	width: 8vw;
	height: 5vh;
	margin: 1vh 0 0 71vw;
	font-size: 19px;

	line-height: 1.16;
	font-weight: normal;
	font-stretch: normal;
	font-family: NotoSansKR;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
	
}

/* .nav_menubar .one:hover{
	background-color: #c9c4c0;
	border-radius: 10px;
	transition: ease-out 0.3s;

} */
.nav_menu .two{
	display: inline-flex;
	left: 37vw;
	width: 7vw;
	height: 5vh;

	margin: 1vh 0 0 2px;
	font-size: 19px;

	line-height: 1.16;
	font-weight: normal;
	font-stretch: normal;
	font-family: NotoSansKR;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
}


a{
	text-decoration: none;
	color: black
	
}

.logoArea{
	width: 15vw;
	display: inline-block;
}



.logo{
    position: relative;
    width: 52px;
    height: 52px;
    left: 5vw;
}


.logo .img{
	width: 50%;
	height: 50%;
}
}			/* --------  Tablet Finish  ---------- */


/* For App: -----------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 767px){
    .clearBoth{
        clear : both;
	}
					
/* 상단메뉴바 */
.nav_menubar{
	position: fixed;
	float: right;
	height: 10vh;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
    list-style: none; 
	padding-left: 0;
	background-color: #ffffff;
	background-color:  rgba( 255, 255, 255, 0);

}



.nav_menubar .nav_menu {
	display: flex;
	margin: auto;
	width: 100%;
	height: 8vh;
	list-style: none;
	padding: 8px 15px;
	font-family: NotoSansKR;
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: normal;
	text-align: left;

}


.nav_menu .one{
	display: inline-flex;
	width: 80px;
	height: 5vh;
	margin: 1vh 0 0 26vw;
	font-size: 16px;
	line-height: 1.38;
	font-weight: bold;
	font-stretch: normal;
	font-family: NotoSansKR;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
	
}

/* .nav_menubar .one:hover{
	background-color: #c9c4c0;
	border-radius: 10px;
	transition: ease-out 0.3s;

} */
.nav_menu .two{
	display: inline-flex;
	left: 37vw;
	width: 80px;
	height: 5vh;
	font-size: 16px;
	margin: 1vh 0 0 25px;
	line-height: 1.38;
	font-weight: bold;
	font-stretch: normal;
	font-family: NotoSansKR;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
}


a{
	text-decoration: none;
	color: black
	
}

.logoArea{
	width: 15vw;
	display: inline-block;
}



.logo{
    position: relative;
    width: 35px;
	height: 35px;
	margin: 0 139px 0 0;
    left: 5vw;
}


.logo .img{
	width: 50%;
	height: 50%;
}
}/* --------  App Finish  ---------- */