

/*------------------------------------------
  Responsive Grid Media Queries - 1920, 1024, 768, 360
   1920-1024   - desktop (default grid)
   360-767     - phone landscape & smaller
--------------------------------------------*/

/* For desktop: */
@media only screen and (min-width: 769px) {
    .clearBoth{
        clear : both;
	}
	

/* 상단메뉴바 */
.nav_menu {
	position: relative;
	display: inline-block;
	width: 1140px;
	height: 60px;
	left: 1.5vw;
	padding: 0 0 0 15px;
	margin-top: 40px;
	list-style: none;
	font-family: Noto Sans KR;	
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: normal;
	max-width: 1140px;
}
.nav_ul{
	width: 60vw;
	height: 60px;
	padding: 0;
	max-width: 1140px;

}
.logoArea{
	display: inline-block;
	float: left;
	width: 1vw;
}

.logo{
	position: relative;
	width: 44px;
	height: auto;
}

.logo .img{
	width: 50%;
	height: 50%;
}
.contentArea{
	position: absolute;
	width: 300px;
	margin-left: 13vw;
}
.one{
	width: 90px;
	display: inline-block;
	height: auto;
	margin: 12px 0 12px 2%;
	font-size: 17px;
	line-height: 1.16;
	font-weight: normal;
	font-stretch: normal;
	font-family: Noto Sans KR;	
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
	
}

.two{
	width: 90px;
	display: inline-block;
	float: right;
	height: auto;
	margin: 12px 1% 12px 10px;
	font-size: 17px;
	line-height: 1.16;
	font-weight: normal;
	font-stretch: normal;
	font-family: Noto Sans KR;	
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
}

a{
	text-decoration: none;
	color: black
}

}			/* --------  Desktop Finish  ---------- */



/* For Phone: */
@media only screen and (max-width: 768px){
	.clearBoth{
		clear : both;
	}

	.nav_menu {
	
		position: relative;
		display: inline-flex;
		width: 300px;
		/* justify-content: center;
		text-align: center; */
		height: 40px;
		margin: 30px 1vw 10px 1vw;
		list-style: none;
		font-family: Noto Sans KR;	
		font-size: 25px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.45;
		letter-spacing: normal;

	}
	.nav_ul{
		width: auto;
		padding: 0;
	}

	.nav_menu .one{
		display: inline-block;
		width: 100px;
		height: auto;
		font-size: 16px;
		margin: 10px 0 12px 10vw;
		line-height: 1.16;
		font-family: Noto Sans KR;	
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: right;
		color: #222222;
	}

	.nav_menu .two{
		display: inline-block;
		width: 65px;
		height: auto;
		font-size: 16px;
		margin: 12px 3vw 12px 3vw;
		line-height: 1.16;
		font-family: Noto Sans KR;	
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		color: #222222;
	}


	a{
		text-decoration: none;
		color: black
		
	}

	.logoArea{
		float: left;
		/* width: 35px;
		height: 35px;
		margin: 0 8vw 0 2vw; */
		display: inline-block;
	}

	.logo{
		/* float: left; */
		width: 35px;
		height: 35px;
		/* padding: 0.6px 1.3px 0.9px 0.4px; */
	}
}
/* Phone end */
